*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body{
	width:100%;
	height: 100%;
	padding:0;
	margin:0;
	max-width:100%;
	overflow-x:hidden;
	color:white;
	background-color:whitesmoke; 
	font-family: 'Staatliches', cursive;
}

a{
	text-decoration:none;
	color:white;
}

.cafeteria{
	width: 100%;
	text-align: center;
	color: darkred;
}
.logo{
	width: 100%;
	text-align: center;
	color: black;
}

.parallaxPollo{
	width:100%;
	height:100vh;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	background: fixed no-repeat 50% 50%;
	background-size:cover;
}
#parallaxPollo1{
	background-image:url(../img/.jpg);
	height:100%;
	width:100%;
}

#parallaxPollo2{
	background-image:url(../img/maderaFondo.jpg);
	height:100%;
	width:100%;
}
.fresco{
	padding:1em;
}

.imagenPollo{
	display:flex;
	justify-content:space-between;
	align-items:center;
	transition:all 1s ease-in-out;
	background-color:rgb(0,0,0,0.04);
	box-shadow: 0px 8px 32px rgb(0,0,0,0.6);
	border-radius:20px; 
}


.imagenPollo img{
	height:280px;
	width:280px;
	object-fit:cover;
}
.respuesta2{
	background-color:rgb(240, 9, 9,0.8);
	box-shadow: 0px 8px 32px rgb(0,0,0,0.6);
	border-radius:15px; 
	max-height:0;
	overflow:hidden;
	transition:all .8s ease;
}
.respuesta2 p{
	text-align:center;
	font-size:20px;
	padding:10px;
	border-radius:10px;
}

.producto p{
	font-family: cursive;
	text-align: center;
	font-size: 25px;
	color: black;
}
.fresco.active .respuesta2{
	max-height:450px;
}

.fresco.active .arrow img{
	transform: rotate(180deg);
}
.arrow{
	width:50%;
	margin:auto;
	display:flex;
	border-radius:0px 0px 15px 15px;
	border-bottom:solid 2px white;
	justify-content:center;
	align-items:center;
}
.arrow img{
	height:35px;
	width:35px;
	padding:5px;
	transition: transform .5s ease-in-out;
}
